extends layout

block content
  h1= title

  div(class="col-md-4")
    h2 Criar complemento

    form(action="/complement/create", method="post", class="well")
      div(class="form-group")
        label(for="name") Nome
        input(type="text", name="name", class="form-control")
      div(class="form-group")
        label(for="ingredients") Ingredientes
        textarea(name="ingredients", cols="30", rows="10")
      div(class="form-group")
        label(for="preparation") Preparo
        textarea(name="preparation", cols="30", rows="10")
      div(class="form-group")
        label(for="ComplementTypeId") Tipo de complemento
        select(name="ComplementTypeId", class="form-control")
          each ctype in complementTypes
            option(value=`${ctype.id}`)= ctype.name
      input(type="submit" class="btn btn-default")

  div(class="col-md-6")
    h2 Lista de Complementos

    ul
      each complement in complements
        li
          strong
            = complement.name
          | &nbsp;
          a(href="/complement/" + complement.id + "/destroy", class="btn btn-xs btn-warning") delete